*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: lato, sans-serif;
    color: #141414;
    font-size: 1.6rem;
}
#content{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 22rem 1fr;
    grid-template-rows: 4rem 1fr;
}
header{
    grid-area: 1 / 1 / 2 / 3;
    background-color: #c38d9e;
    padding-left: 20px;
    border-bottom: #848383;
}
nav{
    grid-area: 2 / 1 / 3 / 2;
    background-color: #eee;
    padding: 4rem;
    border-right: #b9b9b9;
}
ul{
    list-style: none;
    font-weight: 200;
}
nav li{
    margin-bottom: 20px;
}
.menu-item:hover::before, .proj-list-item:hover::before{
    color: #991b1b;
    content: "// ";
}
#main-body{
    grid-area: 2 / 2 / 3 / 3;
}
.proj-list{
    padding-left: 10px;
    visibility: hidden;
}
.proj-list-item{
    margin: 10px;
}
#main-body{
    padding: 50px 80px;
}
#task-card-container{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.task-card{
    display: flex;
    padding: 0px 40px;
    justify-content: space-between;
    align-items: center;
}
.task-card:hover{
    box-shadow: 2px 4px 4px #959595;
}
.task-card.priority_1{
    border-left: 3px solid red;
}
.task-card.priority_2{
    border-left: 3px solid orange;
}
.task-card.priority_3{
    border-left: 3px solid green;
}
.status{
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 2px solid #3ba395;
}
.status span{
    padding-top: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70%;
    font-weight: bold;
    color: white;
    width: inherit;
    height: inherit;
}
.status.not-done span{
    visibility: hidden;
}
.status.done span{
    visibility: visible;
    background-color: #3ba395;
}
.task-header{
    font-weight: 300;
}
.proj-name{
    font-weight: 300;
    margin-right: 150px;
}
.task-details{
    margin-left: 150px;
    width: 80px;
    height: 30px;
    border: 1px solid #3ba395;
    border-radius: 4px;
    color: #3ba395;
    font-weight: 600;
}
.task-details:hover{
    background-color: #3ba395;
    color: white;
}
.task-card{
    height: 50px;
    width: calc(80%-160px);
    background-color: #eee;
}
.edit-button{
    filter: invert(14%) sepia(30%) saturate(6438%) hue-rotate(349deg) brightness(107%) contrast(91%)
}
.edit-button:hover{
    filter: invert(57%) sepia(17%) saturate(1371%) hue-rotate(122deg) brightness(94%) contrast(82%)
}
.delete-button{
    transform: scale(0.5);
    filter: invert(14%) sepia(30%) saturate(6438%) hue-rotate(349deg) brightness(107%) contrast(91%)
}
.delete-button:hover{
    filter: invert(57%) sepia(17%) saturate(1371%) hue-rotate(122deg) brightness(94%) contrast(82%)
}