* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: lato, sans-serif;
  color: #141414;
  font-size: 1.6rem;
}
#content {
  position: relative;
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 22rem 1fr;
  grid-template-rows: 4rem 1fr;
}
header {
  grid-area: 1 / 1 / 2 / 3;
  background-color: #c38d9e;
  padding-left: 20px;
  border-bottom: #848383;
}
nav {
  grid-area: 2 / 1 / 3 / 2;
  background-color: #eee;
  padding: 4rem;
  border-right: #b9b9b9;
}
ul {
  list-style: none;
  font-weight: 200;
}
nav li {
  margin-bottom: 20px;
}
.menu-item:hover,
.menu-item:hover::before,
.selected,
.selected::before,
.form-menu-item:hover,
.form-menu-item:hover::before {
  color: #991b1b;
  content: "// ";
}

#sort {
  width: 25px;
  height: 25px;
  padding: 2px;
  border: 1px solid black;
  transform: rotate(180deg);
  margin-bottom: 10px;
}
#sort:hover {
  border-color: #3ba395;
  filter: invert(57%) sepia(17%) saturate(1371%) hue-rotate(122deg)
    brightness(94%) contrast(82%);
}
#sort.sorted {
  box-shadow: inset -1px -1px 2px #504f4f;
}
#sort.sorted:hover {
  box-shadow: inset -1px -1px 2px #68cec1;
}
#main-body {
  grid-area: 2 / 2 / 3 / 3;
  text-align: right;
}
.proj-list {
  padding-top: 5px;
  padding-left: 10px;
  visibility: hidden;
}
.proj-list.li {
  margin: 10px;
}
#main-body {
  padding: 50px 80px;
}
#task-card-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.task-card {
  display: flex;
  padding: 0px 40px;
  justify-content: space-between;
  align-items: center;
}
.task-card:hover {
  box-shadow: 2px 4px 4px #959595;
}
.task-card.priority_1 {
  border-left: 3px solid red;
}
.task-card.priority_2 {
  border-left: 3px solid orange;
}
.task-card.priority_3 {
  border-left: 3px solid green;
}
.status {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 2px solid #3ba395;
}
.status span {
  padding-top: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70%;
  font-weight: bold;
  color: white;
  width: inherit;
  height: inherit;
}
.status.not-done span {
  visibility: hidden;
}
.status.done span {
  visibility: visible;
  background-color: #3ba395;
}
.task-header {
  font-weight: 300;
}
.proj-name {
  font-weight: 300;
  margin-right: 150px;
}
.task-details {
  margin-left: 150px;
  width: 80px;
  height: 30px;
  border: 1px solid #3ba395;
  border-radius: 4px;
  color: #3ba395;
  font-weight: 600;
}
.task-details:hover {
  background-color: #3ba395;
  color: white;
}
.task-card {
  height: 50px;
  width: calc(80%-160px);
  background-color: #eee;
}
.edit-button {
  filter: invert(14%) sepia(30%) saturate(6438%) hue-rotate(349deg)
    brightness(107%) contrast(91%);
}
.edit-button:hover {
  filter: invert(57%) sepia(17%) saturate(1371%) hue-rotate(122deg)
    brightness(94%) contrast(82%);
}
.delete-button {
  transform: scale(0.5);
  filter: invert(14%) sepia(30%) saturate(6438%) hue-rotate(349deg)
    brightness(107%) contrast(91%);
}
.delete-button:hover {
  filter: invert(57%) sepia(17%) saturate(1371%) hue-rotate(122deg)
    brightness(94%) contrast(82%);
}
button,
input,
select,
textarea {
  font-family: inherit;
}
#container-overlayed {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0, 0.6);
  visibility: hidden;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
#form-create {
  width: 0px;
  height: 0px;
  border: 2px solid gray;
  visibility: hidden;
  display: block;
  overflow: hidden;
}
#form-create.active {
  width: 650px;
  height: 550px;
  visibility: visible;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-auto-rows: 80px 1fr;
}
#form-title {
  grid-column: 1 / 3;
  background-color: #c38d9e;
  font-size: 1.6rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#form-nav {
  background-color: #e1dfdf;
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: 500;
}
#form-container {
  grid-column: 2 / 3;
  background-color: white;
  position: relative;
  display: grid;
}
.form-wrapper {
  /*position: absolute;
    top: 0px;
    left: 0px;*/
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  visibility: hidden;
  padding: 15px 30px;
  font-size: 1.2rem;
}
.form-wrapper.active {
  /*position: relative;*/
  visibility: visible;
  background: 2px solid gray;
  background-color: white;
}

form#task-form,
form#proj-form {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 10px;
}
label {
  grid-column: 1 / 2;
  color: #991b1b;
}
input,
select,
textarea {
  padding-left: 10px;
  padding-right: 10px;
  grid-column: 2 / 3;
  outline-color: #991b1b;
}
input,
select {
  height: 20px;
}
select {
  width: 70px;
}
textarea {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 150px;
}
input#done-status {
  height: 20px;
  width: 20px;
  justify-self: start;
}
.button-container {
  grid-column: 1 / 3;
}
.button-container button {
  margin-top: 40px;
  margin-right: 40px;
  appearance: none;
  width: 100px;
  height: 40px;
  font: inherit;
  font-size: 1.4rem;
  color: #991b1b;
  border: 2px solid #991b1b;
  border-radius: 10px;
  background-color: white;
}
.button-container button:hover {
  background-color: #991b1b;
  color: white;
}
#ask-consent {
  visibility: hidden;
  width: 0px;
  height: 0px;
  display: block;
  overflow: hidden;
}
#add-button {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #3ba395;
  color: white;
  font-weight: 800;
  font-size: 40px;
  margin-left: auto;
  margin-right: 0;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
